/*App.css*/
#root {
  max-width: 1280px;
  margin: 0 auto;

  text-align: center;
}

.food-app {
  font-family: 'Courier New', Courier, monospace;
}
.main-content {
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  margin-top: 5px;
  width: 100%;
}
.header {
  background-color: white;
  justify-content: left;
  display: flex;
  width: 100%;
  padding: 1rem;
  border-bottom: 2px solid #ccc;
  /* position: fixed; */
  top: 0;
  left: 0;
  height: 5rem;
}
.title {
  display: flex;
  color: #663aa0;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
}

.light {
  background-color: #ffffff;
  color: #333;
}

.dark {
  background-color: #333;
  color: #fff;
}

/* .dark .food-item {
  background-color: #444;
  color: #fff;
}

.dark .checkout {
  background-color: #444;
  color: #fff;
} */
.dark .food-item,
.dark .checkout {
  border-color: #888;
  background-color: #444;
  color: #fff;
}
