/*Checkout.css*/
.total {
  margin-top: auto;
  padding-top: 1rem;
  border-top: 1px solid #ccc;
}

.checkout {
  border-style: solid;
  border: 2px solid #333;
  border-radius: 10px;
  width: 250px;
  height: 420px;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 5px;
}
