/*Checkout.css*/
.total {

  border-top: 1px solid #151010;
  width: 100%;
  font-size: 1rem;
  height: 100%;
}

.checkout {
  border-style: solid;
  border: 2px solid #333;
  border-radius: 10px;
  width: 250px;
  height: 100%;
  flex-direction: column;
  place-items: center;
}

.checkout.light {
  background-color: #ffffff;
  color: #000000;
}

.checkout.dark {
  background-color: #1e1e1e;
  color: #ffffff;
  
}
.total.dark {
  border-top: 1px solid #555;
  background-color: #3a3838;
  border-color: #555;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem;           /* Asegura que no haya padding */
  margin: 0;            /* Asegura que no haya margen */
  height: 100%;
  width: 100%;
  box-sizing: border-box; /* Incluye el borde en el tamaño total */

}