/* Home.css */

.main-content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  background-color: inherit;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  padding-top: 5rem;
}
.main-content.light {
  background-color: #fafafa;
  color: #000;
}

.main-content.dark {
  background-color: #222;
  border-color: #555;
  color: #fff;
}
