/* Home.css */
.light {
  background-color: #ffffff;
  color: #000000;
}

.dark {
  background-color: #1e1e1e;
  color: #ffffff;
}
.main-content{
  flex-direction: column;
  align-items: baseline;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5rem;

}
