.food-app {
  font-family: 'Courier New', Courier, monospace;
}

.header {
  background-color: white;
  justify-content: left;
  display: flex;
  width: 100%;
  padding: 1rem;
  border-bottom: 2px solid #ccc;
  position: fixed;
  top: 0;
  left: 0;
}

.title {
  display: flex;
  color: #663aa0;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
}

.main-content {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}