/* FoodList.css */
.food-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
  margin-top: 5rem;
  height: auto;
  border-radius: 10px;
  border: 2px solid #ecebeb;
  
}

.food-item {
  position: relative;
  background-color: white;
  position: relative;
  border: 2px solid #333;
  border-radius: 10px;
  padding: 1rem;
  min-height: 100px;
  transition: transform 0.2s;

}

.food-stock {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  background-color: #d4edda;
  width: 24px;
  height: 24px;
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
}

.food-stock.out {
  background-color: #f8d7da;
  color: #721c24;
}

.no-stock {
  opacity: 0.5;
  pointer-events: none;
}

.food-item:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.emoji {
  font-size: 5rem;
  display: block;
}