/* FoodList.css */
.food-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
  margin-top: 5rem;
  height: auto;
  border: 2px solid #333;
  border-radius: 10px;
}

.food-item {
  position: relative;
  border: 2px solid #333;
  border-radius: 10px;
  padding: 1rem;
  min-height: 100px;
}
.food-stock {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  background-color: #d4edda;
  width: 24px;
  height: 24px;
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
}

.food-stock.out {
  background-color: #f8d7da;
  color: #721c24;
}

.no-stock {
  opacity: 0.5;
  pointer-events: none;
}

.food-item:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.emoji {
  font-size: 5rem;
  display: block;
}

.no-stock-text {
  color: red;
  font-weight: bold;
  margin-top: 0.5rem;
}

.food-details-link {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  font-weight: bold;
  color: #007bff;
}

.food-details-link:hover {
  text-decoration: underline;
}

.food-item button {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.food-wrapper {
  padding: 1rem;
  transition: background-color 0.3s ease;
  border: 2px solid #333;
  border-radius: 15%;
}

.food-wrapper.light {
  background-color: #f9f9f9;
  color: #000;
  border-color: #ccc;
}

.food-wrapper.dark {
  background-color: #050708;
  color: #fff;
  border-color: #555;
}
